# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text diff=python
*.pyw text diff=python

# JSON
*.json text

# Web
*.html text diff=html
*.css text diff=css
*.js text diff=javascript

# Docker
Dockerfile text
docker-compose*.yml text

# Documentation
*.md text diff=markdown
